<ion-view view-title="เมนู">
<ion-content id="bg-login">
<ion-list>
<div class="list">
  <a class="item item-icon-left" href="#/tab/account/0">
    <i class="icon ion-person"></i>
    บัญชีผู้ใช้
  </a>
  <a class="item item-icon-left " href="#/tab/calendar">
    <i class="icon ion-android-calendar"></i>
   ปฎิทิน
   
  </a>
  <a class="item item-icon-left" href="#/tab/addfriend">
    <i class="icon ion-person-add"></i>
    เพิ่มเพื่อน
   
  </a>
<a class="item item-icon-left" href="#/tab/emergencycall">
    <i class="icon ion-ios-telephone"></i>
    หมายเลขฉุกเฉิน
  </a>
<a class="item item-icon-left" ng-click="logout()">
    <i class="icon ion-power"></i>
   ออกจากระบบ
  </a>
</div>
</ion-list>
</ion-content>
</ion-view>