<ion-view view-title="ข้อความแจ้งเตือน">
<ion-content style="background-image:url('img/bg_emer1.jpg')">
<ion-list>
<label class="item item-input">
  <span class="input-label">ถึง:</span>
  <input type="text" >
</label>

<!-- <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="friend in friends"  type="item-text-wrap" >
<img ng-src="{{friend.images_url}}">
<h2>{{friend.firstname}} {{friend.lastname}}</h2>

</ion-item> -->

<li class="item item-avatar-right item-checkbox" ng-repeat="friend in friends">
    <img ng-src="{{friend.images_url}}">
    <label class="checkbox">
        <input type="checkbox" ng-checked="selection.indexOf(friend.username) > -1" ng-click="toggleSelection(friend.username)">
    </label>
   <h2>{{friend.firstname}} {{friend.lastname}}</h2>
</li>


<label class="item item-input">Comment</label>
<label class="item item-input">

    <textarea rows="4"  placeholder="Comments" ng-model="$parent.comment"></textarea>
  </label>
  <button class="button button-block button-positive" ng-click="sendcomment()">
      Send
      </button>
</ion-list>
</ion-content>
</ion-view>
