
<ion-view view-title="เพิ่มกิจกรรม">
<ion-content class="padding" >
<ion-list>

<div class="list list-inset">
<label class="item item-input item-floating-label">
    <span class="input-label">ชื่อกิจกรรม</span>
    <input type="text" data-ng-model="data.event" name="data.event" placeholder="ชื่อกิจกรรม">
  </label>
<label class="item item-input item-floating-label">
    <span class="input-label">สถานที่ตั้ง</span>
    <input type="text" data-ng-model="data.location" name="data.location" placeholder="สถานที่ตั้ง">
  </label>
  

 
  <div class="list list-inset">
   <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="วันที่" ng-model="dateData" disabled="disabled">
    </label>
    <button class="button button-small" ng-click="openDatePicker()">
     <i class="ion-ios-calendar"> </i>
    </button>
  </div>
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="เวลา" ng-model="timeData"  disabled="disabled">
    </label>
    <button class="button button-small" ng-click="openTimePicker()">
     <i class="ion-ios-calendar"> </i>
    </button>
  </div>
  </div>
  </div>



<button class="button button-block button-assertive" ng-click="saveEvent()">บันทึก</button>


</ion-list>
</ion-content>
</ion-view>