<ion-view view-title="เข้าสู่ระบบ">

<ion-content class="padding" id="bg-login" >

<center><img src="img/logo_EHM02.png" alt="HTML5 Icon" style="width:200px;height:200px;" id="login-logo"></center>
		<div class="list" data-ng-init="autologin()" id="login-form">
			<label class="item item-input" id="test-font">
				<span class="input-label" >ชื่อผู้ใช้</span>
				<input type="text" data-ng-model="login.username" data-ng-init="username" name="username">
			</label>
			<label class="item item-input" id="test-font">
				<span class="input-label">รหัสผ่าน</span>
				<input type="password" data-ng-model="login.password" data-ng-init="password" name="password">
			</label>
			<button class="button button-block button-calm" ng-click="login()" >
			เข้าสู่ระบบ
			</button>

		</div>
		
</ion-content>
</ion-view>