
<ion-view view-title="เพิ่มกิจกรรม">
<ion-content class="padding" style="background-image:url('img/bg_emer1.jpg')">
<ion-list>

<div class="list list-inset">
<label class="item item-input item-floating-label">
    <span class="input-label">ชื่อกิจกรรม</span>
    <input type="text" ng-model="comment" name="comment" placeholder="ชื่อกิจกรรม">
  </label>
<label class="item item-input item-floating-label">
    <span class="input-label">สถานที่ตั้ง</span>
    <input type="text" ng-model="location" name="location" placeholder="สถานที่ตั้ง">
  </label>
  

 
  <div class="list list-inset">
   <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="วันที่" ng-model="dateData">
    </label>
    <button class="button button-small" ng-click="openDatePicker()">
     <i class="ion-ios-calendar"> </i>
    </button>
  </div>
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Email">
    </label>
    <button class="button button-small" ng-click="openDatePicker()">
     <i class="ion-ios-calendar"> </i>
    </button>
  </div>
  </div>
  </div>



<a class="button button-block button-calm" href="#/tab/addcalendar">บันทึก</a>


</ion-list>
</ion-content>
</ion-view>