<ion-view view-title="เข้าสู่ระบบ">
<ion-nav-buttons  side="right">
<a class="button button-positive" href="#/register">ลงทะเบียน</a>
</ion-nav-buttons>
<ion-content class="padding"  style="background-image:url('img/background.png')">

<div class="list card" data-ng-init="autologin()">
	<div class="item item-divider">เข้าสู่ระบบ</div>
	<div class="item item-body">
		<div class="list">
			<label class="item item-input">
				<span class="input-label">ชื่อผู้ใช้</span>
				<input type="text" data-ng-model="login.username" data-ng-init="username" name="username">
			</label>
			<label class="item item-input">
				<span class="input-label">รหัสผ่าน</span>
				<input type="password" data-ng-model="login.password" data-ng-init="password" name="password">
			</label>
			<button class="button button-block button-positive" ng-click="login()" >
			เข้าสู่ระบบ
			</button>

		</div>
	</div>
</div>
</ion-content>
</ion-view>