
<ion-view view-title="เพิ่มเหมายเลขโทรศัพท์">
<ion-content class="padding" style="background-image:url('img/bg_emer1.jpg')">
<ion-list>
<div class="list list-inset">
<label  class="item item-input">
<input type="text" placeholder="ชื่อ" data-ng-model="call.name">
</input>
</label>
<label  class="item item-input">
<input type="text" placeholder="หมายเลขโทรศัพท์"   data-ng-model="call.tel">
</input>
</label> 

</div>
<button class="button button-block button-positive" ng-click="doAddCall()">
เสร็จสิ้น
</button>
</ion-list>
</ion-content>
</ion-view>