<ion-view view-title="Account">
<ion-content class="padding" style="background-image:url('img/background.png')">
<div class="list card">
	<div class="item item-divider">แก้ไขข้อมูล</div>
	<div class="item item-body" data-ng-init="getaccount();">

<div class="list">
<img src="img/guest.png" class="full-image" id="image-preview" ng-model="editaccount.images"/>
<button class="button button-block button-positive" ng-click="select_pic()" ng-model="image"><i class="ion-plus-round"></i> เลือกรูปภาพ</button>
 
   <label class="item item-input item-floating-label">
    <span class="input-label">ชื่อ</span>
    <input type="text" ng-model="editaccount.firstname" name="firstname" placeholder="ชื่อ">
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">นามสกุล</span>
    <input type="text" ng-model="editaccount.lastname" name="lastname" placeholder="นามสกุล">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">อีเมลล์</span>
    <input type="text" ng-model="editaccount.email" name="email" placeholder="อีเมลล์">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">โรคประจำตัว</span>
    <input type="text" ng-model="editaccount.disease" name="disease" placeholder="โรคประจำตัว">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">ประวัติการแพ้ยา</span>
    <input type="text" ng-model="editaccount.drug_allergy" name="drug_allergy" placeholder="ประวัติการแพ้ยา">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">สิทธิการรักษา</span>
    <input type="text" ng-model="editaccount.treatment" name="treatment" placeholder="สิทธิการรักษา">
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">แพทย์ประจำตัว</span>
    <input type="text" ng-model="register.treatment" name="personaldoctor" placeholder="แพทย์ประจำตัว">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">โรงพยาบาลประจำ</span>
    <input type="text" ng-model="register.treatment" name="hospital" placeholder="โรงพยาบาลประจำ">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">รหัสผ่าน(ใส่อย่างน้อย5ตัวอักขระ)</span>
    <input type="password" ng-model="editaccount.password" name="password"  placeholder="รหัสผ่าน">
  </label>
  <p>
   
  <div class="row">
 
    <button class="button button-block button-positive" ng-click="editaccount_submit()">
  เสร็จสิ้น
</button>
 

  </div>
</div>


</div>
</div>
</ion-content>
</ion-view>