<ion-view view-title="{{ hos[0].name }}">
    <ion-content id="bg-login">
        <div class="list list-inset">
        <div class="item">
          <h1 style="font-size:100%;"> <b>{{hos[0].name}}</b></h1>
        </div>
        <div class="item">
          <h1 style="font-size:100%;">{{hos[0].address}}</h1>
        </div>
        <div class="item">
          <h1 style="font-size:100%;"> <b> โทร : </b>{{hos[0].telephone}}</h1>
        </div>
        <a class="button button-block button-assertive" href="geo:0,0?q={{hos[0].latitude}},{{hos[0].longitude}}({{hos[0].name}})" target="_system">นำทาง</a>
        </div>
    </ion-content>
</ion-view>