<ion-view view-title="เพิ่มการสนทนาใหม่">
  <ion-content style="background-image:url('img/bg_emer1.jpg')">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.friendaccount_id}}">
        <img ng-src="{{chat.images_url}}">
        <h2>{{chat.firstname}} {{chat.lastname}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
