<ion-view view-title="ปฏิทิน">
<ion-content class="padding" style="background-image:url('img/bg_emer1.jpg')">

  <!-- inspired by http://colorhunt.co/c/8184 and 
  https://dribbble.com/shots/2407357-Calendar%60 -->

  <div class="card">
  <div class="item item-divider">
    <center><h1>{{viewTitle}}</h1></center>
  </div>
    <div class="item">
      <calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode"  title-changed="onViewTitleChanged(title)" event-source="eventSource">
      </div>
    </div>

    <button class="button button-block button-calm" ng-click="doAddcalendar()">
เพิ่มกิจกรรม
</button>
  </ion-content>
</ion-view>