/* Empty. Add your own CSS if you like */
#btn-alert.icon:before{
  font-size: 200px;
}

#btn-alert {
	
	margin: 100px auto;

}



#btn-size.icon:before{
  font-size: 40px;
}


#btn-size {
	width: 100%;
	height: 40px;
}

#help-alert{
	width: 260px;
	height: 230px;

}

#login-form{
	padding-top: 60%;
}
